---
import Container from "./Container.astro"
---

<div class="relative py-24">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-cyan-400 dark:from-blue-800 dark:to-cyan-600"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-sky-300 to-blue-300 dark:from-blue-700 dark:to-indigo-600"></div>
  </div>
  <Container>
    <div class="relative text-center space-y-8">
       <img
            src="/logo_white.svg"
            alt="Tisura Logo"
            class="mx-auto h-48 w-auto hidden dark:block"
            aria-hidden="true"
        />
        <img
            src="/logo_blue.svg"
            alt="Tisura Logo"
            class="mx-auto h-48 w-auto block dark:hidden"
            aria-hidden="true"
        />

        <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 dark:text-white">
          Build confidence into your workflows with automated data certification.
      </h2>

      <div class="flex justify-center">
        <a
          href="https://tally.so/r/mKZKaV"
          class="relative flex h-12 items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95"
        >
          <span class="relative text-base font-semibold text-white dark:text-white">Request a Demo</span>
        </a>
      </div>
    </div>
  </Container>
</div>
