---
import Container from "./Container.astro"
---

<div class="text-gray-600 dark:text-gray-300" id="solutions">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Solutions
      </h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 px-6 md:px-0">
      <div class="flex flex-col h-full p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex flex-col gap-1">
          <h6 class="text-lg font-medium text-gray-700 dark:text-white">📂 Dossier Certifier</h6>
          <span class="text-sm text-gray-500 dark:text-gray-400">Tamper-Proof Document Verification</span>
        </div>
        <p class="mt-6">
          Dossier Certifier ensures the authenticity and integrity of documents collected online by certifying both their origin and content.
          It replaces AI fraud detection or manual checks with deterministic cryptographic proof.
        </p>
      </div>

      <div class="flex flex-col h-full p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex flex-col gap-1">
          <h6 class="text-lg font-medium text-gray-700 dark:text-white">🧩 GitHub Prover</h6>
          <span class="text-sm text-gray-500 dark:text-gray-400">Prove What You’ve Built on GitHub</span>
        </div>
        <p class="mt-6">
          Tisura allows developers to cryptographically prove authorship of their contributions on GitHub — commits, issues, or pull requests — ensuring verified ownership for hiring, grants, or funding applications.
        </p>
      </div>

      <div class="flex flex-col h-full p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex flex-col gap-1">
          <h6 class="text-lg font-medium text-gray-700 dark:text-white">🆔 Tisura Identity</h6>
          <span class="text-sm text-gray-500 dark:text-gray-400">Verifiable Identity Proofs, Without The Data Leak</span>
        </div>
        <p class="mt-6">
          Tisura offers privacy-preserving identity verification: users prove their identity using cryptographic proofs without sharing personal details. Ideal for onboarding, age verification, or KYC without compromising privacy.
        </p>
      </div>
    </div>

  </Container>
</div>
